body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.navBar{
    display: flex; 
    background-color: white; 
    height: 70px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow:  0 2px 20px 0 gray;
    position: fixed;
    top: 0;
    width: 100%;
}
.navBar .menu{
    display: flex; 
    align-items: center; 
    height: 100%; 
    margin-left: 30px; 
    margin-right: 30px; 
    list-style-type: none; 
    gap: 45px;
}

.navBar .menu img{
    height: 50px;
    margin-left: 40px;
}

.navBar .kontak{
    display: flex; 
    width: 100%; 
    justify-content: end; 
    align-items: center; 
    margin-right:40px; 
}
.navBar .menu a{
        text-decoration:none;
        font-size: 18px;
        color: black;
        font-weight:600;
        margin-left: 40px;
        padding: 10px;
}

.navBar a:hover{
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}
.kontak a:hover{
    color: black;
    background-color: gray;
    padding: 10px;
    border-radius: 10px;
}

.btn-contact {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    margin-right: 40px;
}

a {
    text-decoration:none;
    font-size: 17px;
    color: black;
    font-weight:600;
    margin-left: 40px;
}

.menu{
    display: flex; 
    align-items: center; 
    height: 100%; 
    margin-left: 30px; 
    margin-right: 30px;
}
  
.container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    margin: 20px;
    text-transform: capitalize;
}

.form-contact {
    display: flex;
    flex-direction: column;
    width: 40vw;
    box-shadow: 0px 4px 8px 0px gray;
    padding: 30px;
    border-radius: 10px;
    font-weight:600;
    background-color: white;
}

.label-contact{
    font-size: 17px;
    font-weight: 700px;
    background-color: blue;
    margin-bottom: 20px;
    margin-left: 10px;
}

.input-contact {
    border-radius: 5px;
    background-color: #f0f0f0;
    margin-top: 5px;
    margin-bottom: 20px;
    height: 120px;   
    border: 0;
    font-size: 15px; 
    font-weight:600;
    padding: 8px;
}


.submit-contact {
    background-color: black;
    color: white;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    font-size: 17px;
    border: 0;
}

textarea.input-contact{
    resize: none;
    height: 900px;
}